
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo" style="margin-left: 16px;">LadyBug</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons">notifications</i></a></li>
    <li><a href="badges.html"><i class="material-icons">home</i></a></li>
    <li><a href="collapsible.html"><i class="material-icons">account_circle</i></a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs">
        <li class="tab"><a class="active" routerLink="/project">Cadastro de Projeto</a></li>
        <li class="tab"><a class="active" routerLink="/bug">Cadastro de Bug</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html"><i class="material-icons">notifications</i></a></li>
    <li><a href="badges.html"><i class="material-icons">home</i></a></li>
    <li><a href="collapsible.html"><i class="material-icons">account_circle</i></a></li>
  </ul>

  <router-outlet></router-outlet>